<style type="text/css">
  body {
    padding-top: 40px;
    font-size: 2.5em;
    text-align: center;
  }
</style>

<div class="user">
  <div>First Name: <%= @user.first_name %></div>
  <div>Last Name: <%= @user.last_name %></div>
  <div>Phone Number: <%= @user.phone_number %></div>
  <div>Email: <%= @user.email %></div>
</div>
