.container-fluid {
  padding-top: 40px;
}

.sidebar-nav {
  min-height: 503px;
}

#roster li {
  font-size: 1.5em;
  line-height: 1.5em;
}

a.logout {
  padding: 10px 20px 0 0;;
  float: right;
}

#messages {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.nickname {
  position: relative;
  top: -1px;
  text-align: right;
  font-weight: bold;
}

.content {
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #ccc;
}

.time {
  margin-left: 0;
  text-align: right;
  color: #ccc;
}
