<script id="message" type="text/html">
  {{{message_template}}}
</script>

<script type="text/javascript">
  App.userRef = '{{ user_ref }}';
</script>

<div class="row">
  <div class="span9">
    <form action="/messages" method="POST" id="create_message" class="well">
      <input type="text" class="span3" name="nickname" value="" placeholder="Name" />
      <label for="content">Message:</label>
      <textarea class="span8" name="content"></textarea><br />
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="span9">
    <div id="messages" class="well">
      {{#messages}}
        <!-- Render the message partial -->
        {{>message}}
      {{/messages}}
    </div>
  </div>
</div>
