<script id="message" type="text/html">
  {{{message_template}}}
</script>

<script type="text/javascript">
  App.currentUserId = '{{ current_user_id }}';
</script>

<div class="row-fluid">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul id="roster" class="nav nav-list">
      </ul>
    </div>
  </div>

  <div class="span9">
    <a href="/logout" class="logout">Logout</a>
    <form action="/messages" method="POST" id="create_message" class="well">
      <input type="text" class="span3" name="nickname" value="{{current_user.nickname}}" placeholder="Name" />
      <label for="content">Message:</label>
      <textarea class="span8" name="content"></textarea><br />
      <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Submit</button>
    </form>
  </div>

  <div class="span9">
    <div id="messages" class="well">
      {{#messages}}
      <!-- Render the message partial -->
      {{>message}}
      {{/messages}}
    </div>
  </div>

</div>
