<div class="row">
  <div class="span9 message" data-attribute-id="{{ id }}">
    <span class="nickname span1">{{ nickname }}</span>
    <span class="content span6">{{ content }}</span>
    <span class="time span1">{{ humanize_time }}</span>
  </div>
</div>
